

*{
    margin: 0;
    padding: 0;
}



/* header */

/* navbar */

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 2px solid red; */
}



.nav-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-link li{
    list-style: none;
    margin-left: 30px;
    font-size: 1.2rem;
}

.nav-link a{
    text-decoration: none;
}

.nav-link img{
    width: 20px;
}


/* header-banner */

.header-banner{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    /* border: 3px solid red; */
    justify-content: space-between;
}

.header-banner-cont-out{
    display: flex;
    align-items: end;
}

.header-banner-container{
       max-width: 570px;
       /* border: 2px solid black; */
}

.header-banner-container h1{

    font-size: 3rem;

}

.header-banner-image{
    max-width: 570px;
}

.header-banner-image img {
    width: 100%;
    height: auto;
    display: block;
}



/* main */

.our-plants{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    
}


.our-plants-head{
       max-width: 890px;
       margin: 0 auto;
}

.our-plants-cont{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     row-gap: 30px;
     column-gap: 20px;
     justify-items: center;
}

.box{
    max-width:270px;
    max-height: 480px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.5rem;
}

.box img{
    width: 100%;
    height: auto;
}
.box button{
    max-height: 50px;
    padding: 8px 10px;
    background-color: rgba(233, 90, 8, 1);
    font-weight: 500;
    color: white;
    border: none;
}



.flower-plants-lover{
    max-width:  1140px;
    display: flex;
    margin: 0 auto;
    margin-top: 200px;
}

.flower-plants-lover img{
       width: 100%;
       height: auto;
       
}

.trusted-batch img{
    width: 240px;
    margin-top: -140px;
    margin-left: -160px;
    /* border:2px solid; */
}

.flower-plants-lover-desc-outer{
      display: flex;
      align-items: center;
      /* border: 2px solid orange; */
}

.flower-plants-lover-desc{
    max-width: 540px;
    padding: 40px auto;
    /* border: 2px solid black; */
}


/* shared style */

/* for nav li a color & font */
.font-01{
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}

.font-02{
    color: rgba(137, 135, 161, 1);
    font-weight: 600;
}

.font-03{
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}


/* for every paragraph */
.font-04{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.7rem;
}


.font-05{
    font-size: 3.5rem;
    font-weight: 700;
}



.font-cl-01{
    color: rgba(233, 90, 8, 1);
}


.margin-b-10{
    margin-bottom: 10px;
}

.margin-b-25{
    margin-bottom: 25px;
}



/* Mobile Responsive */

@media screen and (max-width: 576px) {
      
    .li-1, .li-2, .li-3{
        display: none;
    }
     

    .nav {
        padding: 10px;
        align-items: center;
    }

    .nav-link ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .header-banner {
        flex-direction: column-reverse;
        padding: 20px 10px;
        gap: 20px;
    }

    .header-banner-container h1 {
        font-size: 2rem;
    }

    .font-04 {
        font-size: 1rem;
    }
    
    
    .our-plants{
        margin: auto 10px;
        margin-top: 70px;
    }

    .our-plants-cont{
        grid-template-columns: repeat(2, 1fr);
    }

    .trusted-batch{
        display: none;
    }

    .flower-plants-lover{
           flex-direction: column;
           margin-top: 50px;
           gap: 25px;
    }

    .flower-plants-lover h1{
        font-size: 2.3rem;
    }

    
    


   
}