

*{
    margin: 0;
    padding: 0;
}



/* header */

/* navbar */

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 2px solid red; */
}



.nav-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-link li{
    list-style: none;
    margin-left: 30px;
    font-size: 1.2rem;
}

.nav-link a{
    text-decoration: none;
}

.nav-link img{
    width: 20px;
}


/* header-banner */

.header-banner{
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    /* border: 3px solid red; */
    justify-content: space-between;
}

.header-banner-cont-out{
    display: flex;
    align-items: end;
}

.header-banner-container{
       max-width: 570px;
       /* border: 2px solid black; */
}

.header-banner-container h1{

    font-size: 3rem;

}

.header-banner-image{
    max-width: 570px;
}

.header-banner-image img {
    width: 100%;
    height: auto;
    display: block;
}



/* main */

.our-plants{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    
}


.our-plants-head{
       max-width: 890px;
       margin: 0 auto;
}

.our-plants-cont{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     row-gap: 30px;
     column-gap: 20px;
     justify-items: center;
}

.box{
    max-width:270px;
    max-height: 480px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.5rem;
}

.box img{
    width: 100%;
    height: auto;
}
.box button{
    max-height: 50px;
    padding: 8px 10px;
    background-color: rgba(233, 90, 8, 1);
    font-weight: 500;
    color: white;
    border: none;
}



.flower-plants-lover{
    max-width:  1140px;
    display: flex;
    margin: 0 auto;
    margin-top: 200px;
}

.flower-plants-lover img{
       width: 100%;
       height: auto;
       
}

.trusted-batch img{
    width: 240px;
    margin-top: -140px;
    margin-left: -160px;
    /* border:2px solid; */
}

.flower-plants-lover-desc-outer{
      display: flex;
      align-items: center;
      /* border: 2px solid orange; */
}

.flower-plants-lover-desc{
    max-width: 540px;
    padding: 40px auto;
    /* border: 2px solid black; */
}



.latest-deal{
    max-width: 890px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}


.latest-deal-image{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}


.box-img{
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.box-img a{ 
    color: white;
}

#box-1{
    background-image: url(../assets/deal-bloom.png);
    height: 200px;
} 

#box-2{
    grid-row: span 2;
    background-image: url(../assets/deal-zabo.png);
    height: 416px;
    
}

#box-2 h3{
    font-size:3rem;;
}

#box-2 a{
    font-size: 1.7rem;
}

#box-3{
    background-image: url(../assets/deal-ana.png);
    height: 200px;
     
}




.colorful-bunch{
    margin-top: 150px;
    max-width: 100%;
    height: 530px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorful-bunch h2{
    color: white;
}


.subscribe-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.email-input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.subscribe-button {
  padding: 15px 25px;
  background-color: #e65100; 
  color: white;
  border: none;
  font-weight: bold;
}



/* footer */

.footer{
    max-width: 100%;
    /* height: 350px; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 50px 100px;
}


.footer-1{
    width: 30vw;
     /* border: 2px solid black; */
}

.footer-1 p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
   
}

.footer-2{
    display: flex;
    gap: 50px;
    /* border: 2px solid black; */
}

.footer-2 h6{
    color: rgba(107, 114, 128, 1);
    font-size: 1.3rem;
}

.footer-2-1{
       display: flex;
       flex-direction: column;
       gap: 50px;
}




.footer-logo{
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
}


.footer-logo img{
    width: 25px;
    height: 25px;
}


/* shared style */

/* for nav li a color & font */
.font-01{
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}

.font-02{
    color: rgba(137, 135, 161, 1);
    font-weight: 600;
}

.font-03{
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}


/* for every paragraph */
.font-04{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.7rem;
}


.font-05{
    font-size: 3.5rem;
    font-weight: 700;
}



.font-cl-01{
    color: rgba(233, 90, 8, 1);
}





.margin-b-10{
    margin-bottom: 10px;
}

.margin-b-25{
    margin-bottom: 25px;
}



/* Mobile Responsive */

@media screen and (max-width: 576px) {
      
    .li-1, .li-2, .li-3{
        display: none;
    }
     

    .nav {
        padding: 10px;
        align-items: center;
    }

    .nav-link ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .header-banner {
        flex-direction: column-reverse;
        padding: 20px 10px;
        gap: 20px;
    }

    .header-banner-container h1 {
        font-size: 2rem;
    }

    .font-04 {
        font-size: 1rem;
    }
    
    
    .our-plants{
        margin: auto 10px;
        margin-top: 70px;
    }

    .our-plants-cont{
        grid-template-columns: repeat(2, 1fr);
    }

    .trusted-batch{
        display: none;
    }

    .flower-plants-lover{
           flex-direction: column;   
           margin: auto 10px;
           margin-top: 50px;
           gap: 25px;
    }

    .flower-plants-lover h1{
        font-size: 2.3rem;
    }

    .latest-deal-image{
        grid-template-columns: repeat(1, 1fr);
    }

   #box-2{
        height: 200px;
   }

   #box-2 h3{
    font-size:1rem;
   }

   #box-2 a{
    font-size: 1rem;
   }


   .subscribe-container{
       width: 90vw;
   }
   
  

   .colorful-bunch h2{
           font-size: 1.5rem;
   }

   .footer-1{
    width: 100%;
   }
   .footer{
     padding: 50px auto;
     flex-direction: column;
     gap: 30px;
     border: 2px solid black;
   }

   .footer-2{
    flex-direction: column;
    gap: 10px;
   }

   .footer-2-1{
       gap: 10px;
   }




   
}